---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.jsx';
import Roster from '../components/Roster.jsx';
import Requirements from '../components/Requirements.jsx';
import Schedule from '../components/Schedule.jsx';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Work in progress - Guild">
	<Hero />
	<main class="container">
		<Roster />
		<div class="layout-grid">
			<Requirements client:load />
			<Schedule />
		</div>
	</main>
</Layout>
